@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body,
#root {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-color: transparent !important;
}


.equalizer {
  font-size: 0;
}

.equalizer i {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 16px;
  width: 3px;
  margin: 0 3px;
  -webkit-animation: move-up-and-down 0.3s infinite alternate;
  animation: move-up-and-down 0.3s infinite alternate;
  transform-origin: bottom left;
}

.equalizer i:nth-of-type(1) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.equalizer i:nth-of-type(2) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.equalizer i:nth-of-type(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.equalizer i:nth-of-type(4) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.equalizer i:nth-of-type(5) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.equalizer i:nth-of-type(6) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.equalizer i:nth-of-type(7) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.equalizer i:nth-of-type(8) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.equalizer i:nth-of-type(9) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.equalizer i:nth-of-type(10) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.equalizer i:nth-of-type(11) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.equalizer i:nth-of-type(12) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes move-up-and-down {
  0% {
    opacity: 0.3;
    transform: scaleY(0.05);
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes move-up-and-down {
  0% {
    opacity: 0.3;
    transform: scaleY(0.05);
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

/* width */
*::-webkit-scrollbar {
  width: 4px;
  border-radius: 2px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #d4d4d8;
  border-radius: 2px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #71717a;
  border-radius: 2px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #27272a;
}