@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");

:root,
html,
body {
    width: 100%;
    height: 100%;
}

body,
#root {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#container {
    width: 80vh;
    height: 40vh;
    background-color: #111;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    animation: box_shadow_blink 12s infinite;
}

#container form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container form h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

#container form input {
    width: 80%;
    height: 3rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
    animation: box_shadow_blink 12s infinite;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    outline: none;
}

#container form input:focus {
    border-color: #fff;
}

#container form button {
    border: transparent;
    background-color: transparent;
    width: 80%;
    color: #fff6a9;
    height: 3rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    outline: none;
    cursor: pointer;
    font-size: 4vh;
    font-weight: 1000;
    font-family: "Sacramento", cursive;
    animation: blink 12s infinite;
}

#url-header {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #fff;
}

#url-header span {
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
}


@keyframes box_shadow_blink {

    20%,
    24%,
    55% {
        box-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        box-shadow: 0 0 10px #ffa500
    }
}

/* https://codepen.io/ananyaneogi/pen/Bgozrz */

@keyframes blink {

    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        /*     color: #fccaff;
      text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
            0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
    }
}